@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: "100%";
    height: 100%;
  }

  body {
    font-size: 16px;
    @apply bg-background text-text-primary;
    height: 100%;
  }
}

.a11y-hidden {
  @apply absolute m-[-1px] h-1 w-1 overflow-hidden whitespace-nowrap;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
